{{define "meta"}}
<meta name="viewport" content="width=device-width, initial-scale=1"> {{end}} {{define "styles"}}
<link href="/public/css/login.css" rel="stylesheet" type="text/css"> {{end}} {{define "scripts"}}
<script>
    // function request() {
    //     const req = new XMLHttpRequest();

    //     req.open("POST", "localhost:20000/register");
    //     req.send();
    //     req.addEventListener("load", reqListener);

    //     return console.log("likutgcv")
    // }

    // function reqListener() {
    //     console.log("this.responseText");
    // }
</script>
<script src="/public/js/login.js"></script>
{{end}}